/* Error: Private members can't be accessed from outside their modules.
 *    ,
 * 17 |   @include privateMixins._bold;
 *    |                          ^^^^^
 *    '
 *   main.scss 17:26  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Private members can't be accessed from outside their modules.\a    \2577 \a 17 \2502    @include privateMixins._bold;\a    \2502                           ^^^^^\a    \2575 \a   main.scss 17:26  root stylesheet";
}
