@import "responsiveMixins";
@import "colors";
@import "animationsMixins";
@import "toExtend";

body {
  font-family: Helvetica;
}
h1, h2 {
  margin:0 auto;
  text-align: center;
  padding:10px;
}
h2::before {
  @include smartphone {
    content: "[smartphone]"
  }
  @include ipad {
    content: "[ipad]";
  }
  @include desktop {
     content: "[desktop]"
   }
}

.containerDarker {
  background: getColor(background-darker) !important;
}
#container {
  width: 100%;
  height: 100%;
  background-color: #005dff;
  clip-path: polygon(100% 0, 100% 82%, 45% 100%, 0 100%, 0 0);
  border: 1px solid red;
  position:absolute;
  z-index: -1;
}



$aBoxHeightTo: 100px;
$aBoxWidthTo: 510px;
$fontTo: 18px;

$aBoxHeightFrom: calc(#{$aBoxHeightTo} * 0.1);
$aBoxWidthFrom: calc(#{$aBoxWidthTo} * 0.1);
$fontFrom: calc(#{$fontTo} * 0.1);

#animated-box {
  @extend %aquaBox;
  @extend %autoResizeBoxSmall;
  width: $aBoxWidthTo;
  height: $aBoxHeightTo;
  font-size: $fontTo;
  @include animation ($aBoxWidthFrom, $aBoxHeightFrom, $aBoxWidthTo, $aBoxHeightTo, $fontFrom, $fontTo, 2s);
}

.normalBannerButton {
  background: getColor(blue-darker);
  border: none;
  border-radius: 5px;
  padding: 8px 14px;
  font-size: 15px;
  color: #fff;
}

#banner-message {
  background:  getColor(banner-message-background);
  border-radius: 4px;
  border: 1px solid getColor(banner-message-border);
  padding: 20px;
  font-size: 25px;
  text-align: center;
  transition: all 0.5s;
  margin: 0 auto;
  width: 300px;

  &:hover {
    background: getColor(blue-darker);
    color: #fff;
    margin-top: 40px;
    width: 200px;
  }
  button {
    @extend .normalBannerButton;
  }
  &:hover button {
    background: #fff;
    color: #000;
  }
}